@import 'colors';

.gallery {
  display: inline-block;
  clear: left;
  width: 100%;
  text-align: center;
  padding-top: 1rem;
}

.gallery img {
  max-width: 75%;
  max-height: 85%;
  border: 10px ridge darkred;
  margin: 5px;
}

.gallery button.change {
  background: none;
  box-shadow: none;
  min-width: 0;
  padding: 0;
  margin: 0;
  vertical-align: top;
  border: 0;
  background-color: transparent;
}

.gallery button.change img{
  max-width: 100px;
  max-height: 100px;
  border: 0;
  margin: 0;
}
