<div class="nav-bar">
  <ul>
    <li><h2>View Gallery</h2>
      <ul class="ul-hover">
        <li><a ui-sref="images.galleryAll"><h3>View All</h3></a></li>
        <li><a ui-sref="images.galleryAlbums"><h3>View Albums</h3></a></li>
      </ul>
    </li>
    <li><h2>Add</h2>
      <ul class="ul-hover">
        <li><a ui-sref="images.imageAdd"><h3>Add Image</h3></a></li>
        <li><a ui-sref="images.albumAdd"><h3>Add Album</h3></a></li>
      </ul>
    </li>
    <li><h2>Delete</h2>
      <ul class="ul-hover">
        <li><a ui-sref="images.imageDelete"><h3>Delete Image</h3></a></li>
        <li><a ui-sref="images.albumDelete"><h3>Delete Album</h3></a></li>
      </ul>
    </li>
  </ul>
</div>

  <ui-view name="main"></ui-view>
