@import 'colors';
@import 'buttons';

h1 {
  color: $highlight;
  font-family: fantasy;
  font-size: 10rem;
  margin: 0;
}

h2, h3, h4 {
  color: $secondary;
  font-family: fantasy;
}

p {
  color: $dark-shade;
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

header {
  background: url(http://www.clipartkid.com/images/727/tribal-dragon-17-by-gdj-gIu9pl-clipart.png) no-repeat;
  background-size: 100% 100%;
  min-height: 250px;
  background-color: $secondary;
  text-align: center;
  margin: auto;
}

footer {
  background-color: $main;
}

footer h3 {
  color: $highlight;
  -webkit-text-stroke: 1px $dark-shade;
}

body {
  width: 80%;
  margin: auto;
  text-align: center;
  background-color: $light-shade;
}

.nav-bar li {
  display: inline-block;
  list-style:none;
  padding-right: 5rem;
}

html {
  background-color: $dark-shade;
}