@import 'colors';

button.primary {
  background: url(http://vignette1.wikia.nocookie.net/ascendant-sith-empire/images/f/f3/Dragon_Symbol.png/revision/latest?cb=20160113001954) no-repeat;
  background-size: 100% 100%;
  min-width: 10rem;
  min-height: 5rem;
  box-shadow: 10px 5px $dark-shade;
  border-radius: 50%;
}

button h2 {
  color: $dark-shade;
  font-size: 25px;
  margin: 0;
  -webkit-text-stroke: 2px $light-shade;
}